{% extends 'account/Navbar_dashboard.html' %}{% block content %}
<style>
    *{
        padding: 1px;
    }
    .navbar{
        display: none;
    }
    input{
        width: 100%;
    }
    label{
        font-family: Helvetica;
        font-weight: 100;
        text-align: center;
    }
    .credentials{
    font-size: 1.5vw;
    font-family: Calibri;
  }
</style><div class="container">
    <a href="{% url 'dashboard' %}"><button class="btn btn-outline-primary">Back to Dashboard</button>
</a>
<div class="row">
    <div class="col-lg-6"><h1>Change your password</h1>
        <p>Use the form below to change your password.</p>
        <form method="post">
        {{ form.as_p }}
        <p><input  type="submit" class="btn btn-outline-secondary" value="Change"></p>
        {% csrf_token %}
        </form></div>
        <div class="col-lg-6">
            <div class="credentials">
                <section class="section container" id="section1 info">
                    <div class="row">
                      <div class="col">
                        <h1 class="credentials">Account Details:</h1>
                        <h2 class="credentials">Username:{{user.username}}</h2>
                        <h4 class="credentials">
                        First Name:  {{user.first_name}}
                        </h4>
                        <h4 class="credentials">
                          Last Name:
                          
                            {{user.last_name}}
                          
                        </h4>    
                          <h4 class="credentials">
                          Email Adress:
                          
                            {{user.email}}
                          
                        </h4>     
                        <h4 class="credentials">
                          Date of Birth:{{user.profile.date_of_birth}}
                        </h4>   
                        </div>
                        {% if user.profile.picture %} <img style="border-radius: 50%;width:50%;float: right;shape-outside: circle(50%);position: relative;" src="{{user.profile.picture.url}}" alt="">{% endif %}

                    </div>
                  </section>
            </div>
          
        </div>
</div></div>
{% endblock content %}