{% extends "Navbar.html" %}
{% load static %}
{% block title %} Login 
{% endblock %} 
{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NO:wght@100..400&display=swap');

  .navbar{
    background-color: black;
    margin-top: 0pc !important;
  }
  .Login{
    font-family:'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800  ;
    letter-spacing: 3px;
    margin-top: 20px;
  }

</style>

<div class="row">
  <div class="col col-md-6">
<div class="container">
  <h1 class="Login">Se connecter au compte</h1>
  {% if form.errors %}
  <p>Votre Nom d'utilisateur ou votre mot de passe et incorrect.</p>
  {% else %}
  <p>Veuillez utiliser le formulaire suivant pour se connecter:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %} {{ form.as_p }} <br>

      <input type="hidden" name="next" value="{{ next }}" />
      <p><input style="width:100%;" class="btn btn-success" type="submit" value="Se connecter" /></p>
    </form>
    <a  style="width:100%;" class="btn btn-danger" href="{% url 'password_reset' %}">Mot de passe oublié </a>
</div></div></div>

<div class="col col-md-6">
<img style="width: 100%;" src="{% static 'files/Login-1.svg' %}" alt="">
</div>
</div>
<script>
        const textInputs = document.querySelectorAll('input[type="text"]');
    textInputs.forEach((input)=>{
        input.classList.add('form-control')
    })

    const emailInputs = document.querySelectorAll('input[type="email"]');
    emailInputs.forEach((input)=>{
      input.classList.add('form-control')
    })
    const passInputs = document.querySelectorAll('input[type="password"]');
    passInputs.forEach((input)=>{
      input.classList.add('form-control')
    })
    const labels = document.querySelectorAll('label');
    labels.forEach((label)=>{
        label.classList.add('label')})
</script>
{% endblock content %}