{% extends 'Navbar.html' %}{% block title %}
Password reset done
{% endblock title %}
{% block style %}
<style>
    .navbar{
        background-color: black;
        margin-top: 0pc !important;
    }
    .height-100{
        height: 80vh;
        place-content: center;
        place-items: center;
    }

    .card,.card-body{
        height: 300px;
        place-content: center;
        border-radius: unset;
        place-items: center;
        transition: 1s;
    }
    .card:hover{
        background-color: aquamarine;
        
    }
</style>
{% endblock style %}
{% block content %}
<center>
    <div class="container height-100">
   <div class="card">
    <div class="card-body">
      <center>  
        <p>Le mot de pass été modifié . Tu peux maintenant se connecter</p>
        <a class="btn btn-primary" href="{% url 'login' %}">Se connecter</a>
    </center>
    </div>
   </div>
    
    </div>
</center>
{% endblock content %}