{% extends 'Navbar.html' %}
{% block title %}
Password Reset instructions
{% endblock title %}
{% block style %}
<style>
    .navbar{
        background-color: black;
        margin-top:  0pc !important;

    }
    .height-100{
        height: 80vh;
        place-content:center;
        text-align: center;
        place-items: center;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

</style>
{% endblock style %}
{% block content %}
<div class="container">
<div class="height-100">
    <div class="card">
        <div class="card-body">
            <p>
                Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe. Vous devriez recevoir l’e-mail sous peu.

    </p>

        </div>
    </div>

</div>
</div>
{% endblock content %}
