{% extends '../Navbar.html' %}{% block title %}
Password confirm
{% endblock title %}
{% load static %}
{% block style %}
<style>
    .navbar{
    background-color: black;
    margin-top:  0pc !important;
  }
  .height-100{
        height: 80vh;
        place-content:center;
       
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container">
    <div class="height-100">
<form method="post">
    {% csrf_token %}
    {% for i in form %}
    <label >{{i.label}}</label>
    <input class="form-control" type="password" name="{{i.name}}">
    <ol>
        {{i.help_text}}
    </ol>
    {% endfor %}

<button class="btn btn-primary" type="submit">
Changer le mot de pass</button>
</form></div></div>
<script>

</script>
{% endblock content %}