{% extends '../Navbar.html' %}
{% block title %}
Password Reset email
{% endblock title %}
{% load static %}
{% block style %}
<style>
    .navbar{
    background-color: black;
    margin-top:  0pc !important;

  }
  .height-100{
        height: 80vh;
        place-content:center;
        text-align: center;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>
{% endblock style %}
{% block content %}
<div class="container">
<form method="post">
    {% csrf_token %}
    <div class="height-100">
{% for i in form %}
<label >Email :</label>
<input type="email" placeholder="Saisir votre email......." class='form-control' name="{{i.name}}">
{% endfor %}<br>
<button class="btn btn-primary" type="submit">
   Envoyez l'e-mail de réinitialisation de mot de passe
</button>
</form></div></div>
<script>

</script>
{% endblock content %}