{% extends '../account/Dashboard Test.html' %}{% load static %}
{% block title %}
Quiz List
{% endblock title %}
{% block content %}
{% if request.user.profile.approved %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

.card-body .card-title{
  font-family: 'Oswald','Open Sans',sans-serif;

}
.card{
  transition: 1s;
  background-position-x:-100vw;
  background-position-y:  -100vh;
  background-origin: padding-box;
}
.card-body .card-text{
  font-family: 'Open Sans',sans-serif;
  font-size: 10px;  
  color: white;
  transition: 1s;
  
}
.card-body  .btn-primary{
  font-size: 10px;
  border-radius: 1px 21px 2px 11px;
  transition: 1s linear;
}
.card-body  .btn-primary:hover{
  font-size: 10px;
  border-radius: 0px;
}
.card:hover{
  background:rgb(106, 106, 223);
  transform: scale(1.1) ;
  z-index: 10000;

}
.card:hover .card-title{
color: white;
}
</style>
<div style="margin: 10px;" class="container">


<div class="container">
<div class="row">
  
      {% for i  in cours %}
<div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{i.titre}}</h5>
            <p class="card-text">{% lorem %}</p>
            <a href="{% url 'course' i.id %}" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>

      {% endfor %}    
      <br>  </div></div>
        
</div>
</div>
<script>
if(window.innerWidth>991 ){
 document.querySelector(".sb-nav-fixed").classList.add("sb-sidenav-toggled");
}
</script>
{% else %}
<div class="Not-approved">
  <div class="text animate__animated animate__flash">
    <h1>{{request.user.username}} </h1>
    <p>The account isn't approved yet</p>
    
  </div>
  </div>
{% endif %}
</div>
{% endblock content %}
